<h1>About Payyola</h1>


<h3>‘There are those who give with joy, and that joy is their reward’ – Khalil Gibran</h3>


<h3> Everybody loves surprises, especially unexpected one’s and people would love you all the more for them. There has been a rising number of freelancers these past couple of years and many opportunities are arising for both employees and workers.  Along with the use of third parties being reduced, there has been an increased interaction between the employees and their employers.</h3>


<h3>Payyola is a global online recognition platform through which individuals and organizations can reward their freelance workers.</h3>

<h3> We offer Companies and websites such as Elance an opportunity to thank their freelancers in kind rather than in just words. We can do this via an online reward scheme not like net banking but much more appreciated. This has become possible due to recent technological advances and certain socio-economic changes.</h3>

<h3> The word ‘payola’ actually means the act of bribing someone, yes we do help in bribing the workers. Not with money but with the goodwill and a token of appreciation of the employers in order to display genuine satisfaction. </h3>

<h3> Payyola is all-round good news for both businesses and freelancers alike. You can get something as simple as gift vouchers, music downloads, spa treatments or even a Frappuccino! This will promote the loyalty of your freelancers and also motivate them. The most important fact is that it is cost efficient, you won’t be spending much money on it but the rewards will be much greater.</h3>

<h3>It’s those little things that have the greatest impacts, especially if you weren’t looking for it. Payyola is a fun loving, hardworking company that aims to keep everybody satisfied. Our goal is to create happy workers who in turn create happier clients. Thereby rather than a vicious one, we create a virtuous cycle.</h3>
