<div class="jumbotron center">
	<h1>Coming Soon</h1>
	<h2> Payyola is a global online employee recognition platform. Where companies, organizations and individuals can reward freelance professionals around the world </h2>

<% if user_signed_in? %>
          # do something
     <% else %>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %>  
</div>
