<div class="jumbotron center">
	<h1> “Thank You” is nice. Vouchers are Better</h1>


<h3>A good freelancer is hard to find, but when you find one, you’re always telling them “thank you.” Wouldn’t it be nicer to give something more than words?</br>

Show your gratitude with gift vouchers that really say what their work means to you </h3>

 <p>Gift Thanks with</br> 
* Music Downloads </br>
* Ebooks </br>
* Spa Treatments </br>
* Frappuccino's </br>
* And More</p>

Coming Soon! Sign up for updates


<% if user_signed_in? %>
          # do something
     <% else %>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %>  
</div>
